/*------------------------------------*\
  #Animations 
\*------------------------------------*/
/* Fade Out */
@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

/* Fade Out */
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Fade Out */
@keyframes closeBlink {
    0% {
        filter: drop-shadow(0px 0px 0px transparent);
        color: rgb(220, 38, 38);
    }

    50% {
        filter: drop-shadow(0px 0px 5px rgb(110, 173, 255));
        color: rgb(110, 173, 255);
    }

    100% {
        filter: drop-shadow(0px 0px 0px transparent);
        color: rgb(220, 38, 38);
    }
}
@-webkit-keyframes closeBlink {
    0% {
        filter: drop-shadow(0px 0px 0px transparent);
        color: rgb(220, 38, 38);
    }

    50% {
        filter: drop-shadow(0px 0px 5px rgb(110, 173, 255));
        color: rgb(110, 173, 255);
    }

    100% {
        filter: drop-shadow(0px 0px 0px transparent);
        color: rgb(220, 38, 38);
    }
}
